@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(227, 255, 220);
  background: linear-gradient(
    219deg,
    rgba(227, 255, 220, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 70%,
    rgba(243, 234, 255, 1) 100%
  );
  color: #060606;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: rgb(16, 74, 0);
    background: linear-gradient(
      219deg,
      rgba(16, 74, 0, 1) 0%,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(55, 0, 129, 1) 100%
    );
    color: #fafafa;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
